# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool: Default

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '17.9'
  displayName: 'Install Node.js'

- script: |
    cd video-translation-client
    rm -rf node_modules
    npm install
    npm run build
  displayName: 'npm install and build'

- task: CopyFiles@2
  inputs:
    SourceFolder: '/usr/share/videoTranslateClientApp'
    Contents: '**'
    OverWrite: true
    TargetFolder: '/usr/share/backup_videoTranslateClientApp'
  displayName: 'make a backup'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'video-translation-client/build'
    Contents: '**'
    OverWrite: true
    TargetFolder: '/usr/share/videoTranslateClientApp'
  displayName: 'copy build into PROD directory'

